.footer {
  font-size: 0.875em;
  line-height: 1.333em;
  overflow: hidden;
  width: 100%;
}

.footer,
.footer a {
  color: #a2aac6; 
  text-decoration: none;
}

.footer a:hover,
.footer a:focus,
.footer .secondary.navigation a:hover,
.footer .secondary.navigation a:focus,
.footer .tertiary.navigation a:hover,
.footer .tertiary.navigation a:focus {
  color: #fec73c;
}

.footer .heading {
  color: #fec73c;
  font-size: 1.71428em;
  line-height: 1em;
  margin-bottom: 1.071428em;
}

.footer .secondary.navigation {
  padding-top: 55px;
  padding-bottom: 10px;
}

.footer .secondary.navigation a {
  color: #a2aac6;
  display: inline-block;
  padding: 0.425em 0;
}

.footer .field {
  background-color: #1c243b;
  border: none;
  box-shadow:
    inset 0 1px 0 rgba(0,0,0,0.1),
    0 1px 0 #364162;
  font-size: 1.142857em;
  min-height: 0;
}

.footer .field label {
  color: #a2aac6;
  left: 10px;
  top: 14px;
}

.footer .field [data-type=text] {
  width: 60%;
}

.footer .field .button {
  background-image: url(../images/all@2x.png);
  background-position: 14px 12px;
  background-repeat: no-repeat;
  background-size: 27px 177px;
  border-radius: 0 2px 2px 0;
  bottom: 0;
  margin: 0;
  padding: 0 2em;
  position: absolute;
  right: 0;
  text-indent: -999em;
  top: 0;
}

.footer:last-child {
  border-top: 1px solid #2d3947;
}

.footer .tertiary.navigation {
  padding-top: 20px;
  padding-bottom:50px;
  line-height: 1em;
}

.footer .tertiary.navigation,
.footer .tertiary.navigation a {
  color: #a2aac6;
}

a[data-social]:before {
  background: url(../images/all@2x.png) no-repeat;
  background-size: 27px 177px;
  content: '';
  display: inline-block;
  height: 23px;
  margin-right: 8px;
  vertical-align: middle;
  width: 23px;
}

a[data-social=facebook]:before {
  background-position: -2px -75px;
}

a[data-social=twitter]:before {
  background-position: -2px -38px;
  margin-right: 6px;
}

a[data-social=google-plus]:before {
  background-position: -2px -115px;
}

a[data-social=truelocal]:before {
  background-position: -2px -155px;
}

.footer .tertiary.navigation span {
  line-height: 23px;
  margin: 0 0.875em;
}

.footer .tertiary.navigation span:first-child {
  margin-left: 0;
}

.footer .tertiary.navigation span:last-child {
  margin-right: 0;
}

.footer .agency {
  float: right;
}

.footer a:hover,
.footer a:focus {
  color: #fec73c;
}
