.modal {
  display: none;
  left: 50%;
  padding-top: 185px;
  position: absolute;
  top: 0;
  z-index: 3;
}

.modal:target {
  display: block;
}

.modal .header {
  background-color: #094075;
  color: #fff;
  padding: 32px 30px;
  position: relative;
  vertical-align: middle;
}

.modal [data-action=close] {
  background: #5faf00 url('../images/all@2x.png') no-repeat -36px 3px;
  background-size: 319px 108px;
  border-radius: 50%;
  display: inline-block;
  height: 31px;
  margin-top: -15px;
  position: absolute;
  right: 28px;
  text-indent: -999em;
  top: 50%;
  width: 31px;
}

.modal [data-action=close]:hover,
.modal [data-action=close]:focus {
  background-color: #77c425;
} 

.modal .body {
  background-color: #fff;
  color: #636f7f;
  padding: 25px 30px 30px;
}

.modal .heading {
  font-size: 1.75em;
  line-height: 1.333em;
  margin: 0;
}

.modal .user {
  padding: 18px 0;
  position: absolute;
  right: 80px;
  text-align: right;
  top: 0;
}

.modal .user .name {
  display: block;
  font-size: 1.25em;
  line-height: 1.625em;
}

.modal .user .button {
  background-color: #5faf00;
  border-color: #5faf00;
  color: #fff;
  font-size: 0.75em;
  line-height: 1em;
  padding: 0.333em 0.875em;
  text-transform: uppercase;
}

.modal .user .button:hover,
.modal .user .button:focus {
  background-color: #77c425;
  border-color: #77c425;
}

.modal .user .button:after {
  background: url('../images/all@2x.png') no-repeat -137px -6px;
  background-size: 319px 108px;
  content: ' ';
  display: inline-block;
  height: 10px;
  margin: 0 -1px 0 4px;
  position: relative;
  top: 1px;
  width: 10px;
}

.modal p {
  margin: 0 0 1em;
}

.modal:after {
  background: rgba(31,49,77,0.925);
  bottom: 0;
  content: '';
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

.modal .body .button {
  display: block;
  margin: 1em auto 0;
}

#login {
  height: 370px;
  margin-left: -220px;
  width: 440px;
}

#login .options {
  font-size: 0.875em;
  line-height: 1em;
}

#login a {
  color: #5faf00;
  text-decoration: none;
}

#login a:hover,
#login a:focus {
  color: #77c425;
}

#login .field {
  display: inline-block;
  margin: 5px 0; 
  padding: 0;
  vertical-align: middle;
  width: 175px; 
}

#login .field:first-child {
  margin-right: 24px;
}

#login .button {
  width: 170px;
}

#login [data-placeholdified] [data-type=text] {
  padding-left: 43px;
}

#log-a-job {
  height: 435px;
  margin-left: -322px;
  width: 645px;
}

#log-a-job [data-type=text] {
  max-width: 585px;
}

#log-a-job .short.field {
  display: inline-block;
  margin: 5px 0 15px; 
  padding: 0;
  vertical-align: middle;
  width: 278px; 
}

#log-a-job .short.field:first-child {
  margin-right: 26px;
}

#log-a-job .body .button {
  margin-top: 2em;
  width: 235px;
}

[for=username]:before,
[for=password]:before {
  background: url('../images/all@2x.png') no-repeat;
  background-size: 319px 108px;
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  visibility: visible;
}

[for=username]:before {
  background-position: -112px -5px;
}

[for=password]:before {
  background-position: -179px -2px;
}
