/*

  Palette
  -------
  dark-grey: #1f2b39
  mid-grey: #354250
  light-grey: #636f7f

  dark-blue: #094075
  mid-blue: #0272ae
  light-blue: #208ec9

  dark-green: #308400
  mid-green: #5faf00
  light-green: #77c425

*/

::selection {
  background-color: #fec73c;
}

::-moz-selection {
  background-color: #fec73c;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #364162;
  color: #fff;
  font: 400 16px/1.5em proxima-nova, sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
}

address {
  font-style: normal;
}

img {
  display: inline-block;
  max-width: 100%;
}

strong {
  font-weight: 600;
}

.heading {
  font: 400 28px/1.25em open-sans, sans-serif;
  margin: 0 0 1.071428em;
}

.circle.list {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

.circle.list li {
  padding: 0.375em 0;
  position: relative;
}

.circle.list li:first-child {
  padding-top: 0;
}

.circle.list li:last-child {
  padding-bottom: 0;
}

.circle.list li:before {
  border: 1px solid #fec73c;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 6px;
  left: 0;
  margin: 0 1.5em 0 0; 
  position: relative;
  top: 50%;
  vertical-align: middle;
  width: 6px;
}

.plain.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

dd, dt {
  margin: 0;
}

.clear {
  zoom: 1;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.inline {
  display: inline-block;
}

[data-invisible] {
  visibility: hidden;
}

.introduction {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0;
}
