.section .contact-details {
  color: #fff;
  padding: 5em 0;
  text-align: left;
}

.section .contact-details li {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 200;
  line-height: 1em;
  margin: 0 0 1.5em;
  width: 50%;
  vertical-align: top;
}

.section .contact-details .title {
  color: #5faf00;
  font-size: 0.7em;
  font-weight: 600;
  line-height: 1em;
  margin: 0 0 0.25em;
  text-transform: uppercase;
}
