.dropdown {
  background-color: #2b2b2b;
  border-radius: 3px;
  font-size: 0.875em;
  line-height: 1.16667em;
  margin-left: -75px;
  min-width: 150px;
  text-align: center;
}

.dropdown li:first-child {
  border-top: none
}

.dropdown li > a {
  color: #fff;
  display: inline-block;
  padding: 8px 0;
  position: relative;
  text-decoration: none;
}

.dropdown li > a:hover,
.dropdown li > a:focus, 
.dropdown li.current > a {
  color: #fec73c;
}
