.emphasised.section {
  background-attachment: scroll, fixed;
  background-color: #364162;
  background-position: 50% 25%;
  background-repeat: repeat, no-repeat;
  background-size: auto auto, cover;
  color: #fff;
}

.emphasised.section[data-image=seats] {
  background-image:
    url(/assets/images/noise.png),
    url(/assets/images/seats.jpg)
}
