.footer {
  background-attachment: scroll, fixed;
  background-color: #252f4e;
  background-image: url(/assets/images/noise.png),
    url(/assets/images/concentric-circles-dark.png);
  background-position: 50% 100%;
  background-repeat: repeat, no-repeat;
  font-size: 0.875em;
  line-height: 1.333em;
  overflow: hidden;
  width: 100%;
}

.footer,
.footer a {
  color: #fff; 
  text-decoration: none;
}

.footer a:hover,
.footer a:focus,
.footer .secondary.navigation a:hover,
.footer .secondary.navigation a:focus,
.footer .tertiary.navigation a:hover,
.footer .tertiary.navigation a:focus {
  color: #fec73c;
}

.footer .heading {
  color: #fec73c;
  font-size: 1.71428em;
  line-height: 1em;
  margin-bottom: 1.071428em;
}

.footer .secondary.navigation {
  padding: 55px 0;
}

.footer .secondary.navigation a {
  color: #fff;
  display: inline-block;
  padding: 0.425em 0;
}

.footer:last-child {
  border-top: 1px solid #2d3947;
}

.footer .tertiary.navigation {
  padding: 20px 0 18px;
  line-height: 1em;
}

.footer .tertiary.navigation,
.footer .tertiary.navigation a {
  color: #636f7f;
}

.footer .tertiary.navigation span {
  margin: 0 0.625em;
}

.footer .tertiary.navigation span:first-child {
  margin-left: 0;
}

.footer .tertiary.navigation span:last-child {
  margin-right: 0;
}

.footer .agency {
  float: right;
}

.footer a:hover,
.footer a:focus {
  color: #fec73c;
}

.footer .contact-details {
  position: relative;
  top: 2px;
}

[data-contact-detail],
[data-contact-detail] + dd {
  float: left;
  margin: 0 0 1em;
}

[data-contact-detail] {
  background: url('/assets/images/all@2x.png') no-repeat;
  background-size: 319px 108px;
  clear: left;
  height: 28px;
  margin-right: 10px;
  text-indent: -999em;
  width: 28px;
}

[data-contact-detail=address] {
  background-position: -227px -1px;
}

[data-contact-detail=phone] {
  background-position: -260px -6px;
}

[data-contact-detail=fax] {
  background-position: -76px -6px;
}

[data-contact-detail] + dd {
  padding-top: 4px;
}
