body > .header {
  border-bottom: 1px solid #475273;
  border-bottom: 1px solid rgba(81,92,125,0.6);
  min-height: 0;
  padding: 16px 0;
  position: relative;
  z-index: 1;
}

body > .header .logo,
body > .header .logo img,
.primary.navigation {
  display: inline-block;
  vertical-align: middle;
}

body > .header .logo {
  width: 360px;
}

body > .header .primary.navigation {
  margin: 20px 0;
}
