.primary.navigation > li {
  float: left;
  margin: 0 0.875em;
  position: relative;
}

.primary.navigation > li > a {
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  padding: 0.5em 0.75em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}


.primary.navigation > [data-has-dropdown] > a {
  padding-right: 1.25em;
}

.primary.navigation > li > a:hover,
.primary.navigation > li > a:focus {
  color: #fec73c;
}

.primary.navigation > li.current > a {
  border: 2px solid #fec73c;
  border-radius: 2px;
  color: #fec73c;
  font-weight: 700;
}

.primary.navigation > [data-has-dropdown] > a:after {
  border-color: #c1c5cc transparent transparent transparent;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  content: '';
  height: 0;
  margin-top: -3px;
  position: absolute;
  right: 0.3333em;
  top: 50%;
  width: 0;
}

.primary.navigation > [data-has-dropdown]:hover > a,
.primary.navigation > [data-has-dropdown]:focus > a {
  color: #fec73c;
  z-index: 2;
}

.primary.navigation > [data-has-dropdown]:hover > a:after,
.primary.navigation > [data-has-dropdown]:focus > a:after {
  border-color: #fec73c transparent transparent transparent;

}

.primary.navigation > [data-has-dropdown] > a + .dropdown {
  display: none;
  left: 50%;
  padding: 2.5em 0 0.5em;
  position: absolute;
  top: -6px;
  z-index: 1;
}

.primary.navigation > [data-has-dropdown]:hover > a + .dropdown,
.primary.navigation > [data-has-dropdown]:focus > a + .dropdown {
  display: block;
}
